{% extends "food/base.html" %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        {% for item in item_list %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="{{ item.item_image }}" class="card-img-top" alt="{{ item.item_name }}" style="height: 200px; object-fit: cover;">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ item.item_name }}</h5>
                    <p class="card-text">{{ item.item_disc }}</p>
                    <p class="card-text fw-bold text-primary">${{ item.item_price }}</p>
                    <a href="{% url 'food:detail' item.id %}" class="btn btn-success mt-auto align-self-start">Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
